/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
/* Custom design below! */

body {
  margin: 0;
  background: rgb(245,245,245);
  color: green;
  font-size: 15px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 70px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 25px;
}
